---
import Navbar from '../components/Navbar';
import Header from '../components/home-page/Header';
import TextSection from "../components/home-page/TextSection";
import OurEvent from "../components/home-page/OurEvent";
import OurService from "../components/home-page/OurService";
import Celebrate from "../components/home-page/Celebrate";
import NiceWords from "../components/home-page/NiceWords";
import Footer from '../components/Footer';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Faq from '../components/home-page/Faq';
import ContactUs from '../components/home-page/ContactUs';

import PortfolioImages from "../components/portfolio-page/PortfolioImages";
import Button from '../components/Button';
import siteData from "../data/siteData.json";
import jsonLDGenerator from "../js/jsonLD";

// Dynamically import all images from the folder
const images = import.meta.glob("../assets/portfolio-peek/*.jpg", {
  eager: true,
});

const imageArray = Object.entries(images).map(([path, module]) => ({
  src: module.default,
  alt: "Luxe Studios portfolio picture",
}));

const seoTitle = "Luxe Studios - Capturing Timeless Moments";
const seoDescription = "Luxe Studios specializes in wedding photography, capturing love stories with elegance and creativity. Explore our portfolio and let us make your special day unforgettable.";
const seoImage = "/assets/luxe-studios-banner.jpg";
const seoURL = import.meta.env.SITE;

const jsonLD = jsonLDGenerator({
  type: "website",
  url: seoURL,
});
---

<Layout title={seoTitle} description={seoDescription} image={seoImage} url={seoURL} jsonLD={jsonLD}>
  <Navbar client:load />
  <Header />
  <TextSection />
  <OurEvent client:load />
  <OurService />

  <div>
    <PortfolioImages>
      <div>
        {imageArray.map((image, index) => (
          <Image
            src={image.src}
            alt={image.alt}
            loading="lazy"
            class="w-full mb-4 rounded-xl"
          />
        ))}
      </div>
    </PortfolioImages>
    <div class="grid place-content-center mt-[-2rem] ">
      <Button className='text-[1.5rem]' btnLink='/portfolio'>See More</Button>
    </div>
  </div>

  <Celebrate />
  <NiceWords client:idle />
  <Faq client:idle />
  <ContactUs client:idle />
  <Footer />
</Layout>
